@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --orange-500: hsl(25, 97%, 53%);
        --white: hsl(0, 100%, 100%);
        --grey-500: hsl(217, 12%, 63%);
        --grey-900: hsl(213, 19%, 18%);
        --grey-950: hsl(216, 12%, 8%);
    }
    @font-face {
        font-family: "Overpass";
        src: url(/build/fonts/Overpass-Regular.ttf) format("truetype");
        font-display: swap;
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: "Overpass";
        src: url(/build/fonts/Overpass-Bold.ttf) format("truetype");
        font-display: swap;
        font-style: normal;
        font-weight: 700;
    }
}

@layer components {
    body {
        @apply bg-grey-950 font-overpass text-white flex items-center justify-center min-h-screen font-bold;
    }
    .container {
        @apply max-w-[326px] rounded-2xl gradient ;
    }

    .rating-form {
        @apply flex flex-col justify-between gap-6 ps-6 pt-6 pe-[21px] pb-[30px];
    }

    .icon {
        @apply flex justify-center items-center;
    }
    .circle {
        @apply rounded-3xl h-[42px] w-[43px] bg-grey-900;
    }
    .rates {
        @apply flex justify-between;
    }
    .content {
        @apply flex flex-col gap-5
    }
    .content > div {
        @apply flex flex-col gap-2.5
    }

    .thank-you-container {
        @apply flex flex-col justify-between items-center py-8 px-4 h-full gap-[34px]
    }
    .selected-rate {
        @apply text-sm rounded-full bg-grey-900 flex justify-center text-orange-500 pt-2 pb-1 px-2.5 whitespace-pre
    }
    .thank-you-container > .row-1 {
        @apply flex flex-col gap-6 items-center
    }
    .thank-you-container > .row-1 > img {
        @apply h-[95px] w-[144px]
    }
    .thank-you-container > .row-2 {
        @apply text-center flex flex-col gap-3.5 
    }

    /* Button */
    .btn {
        @apply flex items-center justify-center;
    }
    .submit-btn {
        @apply w-full bg-orange-500 rounded-full text-grey-950 py-2 hover:bg-white;
    }
    .rate-btn {
        @apply hover:bg-orange-500 hover:text-grey-950
    }

    /* States */
    .rate-btn[data-state="active"] {
        @apply bg-white text-grey-950;
    }

    /* Text styles */
    .question {
        @apply font-bold text-2xl;
    }
    .description {
        @apply text-sm text-grey-500 font-normal;
    }
    .btn-text {
        @apply pt-1;
    }
    .thank-you-container h1 {
        @apply text-2xl;
    }
}

@layer utilities {
    .gradient {
        @apply bg-gradient-to-b from-grey-900 to-[#171E26];
    }
}